.bgimg3{
    background-image: url(src\assets\IMG_3230-HDR-Edit-300x200.jpg);
    background-repeat: no-repeat;
    background-size: 1600px;
}
.card{
    left: 900px;
    top: 50px;
    width: 500px;
    height: 600px;
}
.label_1{
    position: relative;
    top: 10px;
    left: 20px;
    font-size: medium;
}
.input_1{
    position: relative;
    top: 10px;
    right: -30px;
    font-size: medium;
}
.label_2{
    position: absolute;
    top: 105px;
    left: 35px;
    font-size: medium;
}
.input_2{
    position: absolute;
    top: 105px;
    left: 130px;
    font-size: medium;
}
.label_3{
    position: absolute;
    top: 155px;
    left: 35px;
    font-size: medium;
}
.input_3{
    position: absolute;
    top: 155px;
    left: 130px;
    font-size: medium;
}
.label_4{
    position: absolute;
    top: 205px;
    left: 15px;
    font-size: medium;
}
.input_4{
    position: absolute;
    top: 205px;
    left: 150px;
    font-size: medium;
}
.label_5{
    position: absolute;
    top: 255px;
    left: 35px;
    font-size: medium;
}
.input_5{
    position: absolute;
    top: 255px;
    left: 130px;
    font-size: medium;
}
.label_6{
    position: absolute;
    top: 305px;
    left: 15px;
    font-size: medium;
}
.input_6{
    position: absolute;
    top: 305px;
    left: 130px;
    font-size: medium;
}
.label_7{
    position: absolute;
    top: 355px;
    left: 35px;
    font-size: medium;
}
.input_7{
    position: absolute;
    top: 355px;
    left: 130px;
    font-size: medium;
}
.label_8{
    position: absolute;
    top: 405px;
    left: 25px;
    font-size: medium;
}
.input_8{
    position: absolute;
    top: 405px;
    left: 130px;
    font-size: medium;
}
.label_9{
    position: absolute;
    top: 455px;
    left: 35px;
    font-size: medium;
}
.input_9{
    position: absolute;
    top: 455px;
    left: 130px;
    font-size: medium;
}
.label_10{
    position: absolute;
    top: 475px;
    left: 35px;
    font-size: medium;
}
.input_10{
    position: absolute;
    top: 475px;
    left: 110px;
    font-size: medium;
}
.input_11{
    position: absolute;
    top: 515px;
    left: 130px;
    font-size: medium;
}
.label_11{
    position: absolute;
    top: 515px;
    left: 20px;
    font-size: medium; 
}
.but1{
    position: fixed;
    top:620px;
    left:1135px;
    font-size: medium;
}