<body class = bgimg>
    <header>
        <div class="overlay">
    <h1>Tourism Places In India</h1>
    <h3>Must Visit Places!</h3>
    <p>India is a very Diverse Country and we dont want you to miss out these places.These places are highly recommended.Click on the image to Know about the place in detail</p>
        <br>
    
            </div>
    </header>
    
    
    <p class="p1">Taj Mahal Is A very famous place in India</p>
    <a href="https://en.wikipedia.org/wiki/Taj_Mahal"><img  target="_blank"  class="img" src="assets\taj.jpg"  width="400" height="250"></a>
    
    <p class="p2"> Red Fort Is A very famous place in India</p>
    <a href="https://en.wikipedia.org/wiki/Red_Fort"><img  target="_blank"  class="img3" src="assets\redd.jpg"  width="400" height="250"></a>
    
    <p class="p3"> Charminar Is A very famous place in India</p>
    <a href="https://en.wikipedia.org/wiki/Charminar"><img  target="_blank"  class="img4" src="assets\Charminar-Pride_of_Hyderabad.jpg"  width="400" height="350"></a>
    
    <p class="p4"> India Gate Is A very famous place in India</p>
    <a href="https://en.wikipedia.org/wiki/India_Gate"><img  target="_blank"  class="img5" src="assets\download-_2_.jpg"  width="400" height="350"></a>
    <button type="submit" style="display: inherit;" class="button_1" routerLink='/buy' >Book Your Tickets</button>
    