.bgimg{
    background-image: url(src\assets\landscape-islands-ada-travel.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    background-size: 1700px;
}
.bgm{
    background-color: cyan;
}
.example-card {
    max-width: 400px;
    height: 400px;
    left: 525px;
    top: 150px;
}
.label_1{
    position: relative;
    top: 10px;
    left: 20px;
    font-size: medium;
    font-size: medium;
    margin: 0; 
    font-family: 'Leckerli One', cursive;
    text-shadow: 0 2px rgba(0,0,0,.5);
}
.input_1{
    position: relative;
    top: 40px;
    right: -30px;
    font-size: medium;
}
.label_2{
    position: absolute;
    top: 155px;
    left: 35px;
    font-size: medium;
    font-size: medium;
    margin: 0; 
    font-family: 'Leckerli One', cursive;
    text-shadow: 0 2px rgba(0,0,0,.5);
}
.input_2{
    position: absolute;
    top: 180px;
    left: 105px;
    font-size: medium;
}
.button_1{
    position: relative;
    top: 150px;
    left: 175px;
    font-size: medium;
}
.abc{
    position: relative;
    top: 250px;
    left: 25px;
    font-size: medium;
    font-size: medium;
    margin: 0; 
    font-family: 'Leckerli One', cursive;
    text-shadow: 0 2px rgba(0,0,0,.5);
}
h2 { 
    margin: 0; 
    font-family: 'Leckerli One', cursive;
    text-shadow: 0 2px rgba(0,0,0,.5);
  }