<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="about-section">
  <h1>About Us </h1>
  <p>We Book Your Tickets and make sure your Trip Goes well !.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img class="img1" src="assets\AnyConv.com__sharez.jpg"  style="width:50%">
      <div class="container">
        <h2>Sharez Hussain</h2>
        <p class="title">Developer</p>
        <p>Designed The Login And register Page.</p>
        <p>sh3367560@gmail.com</p>
       
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets\AnyConv.com__pp.jpg" style="width:50%">
      <div class="container">
        <h2>D.Madhu </h2>
        <p class="title">Developer</p>
        <p>Designed the About and other page </p>
        <p>dmadhu@gmail.com</p>
       
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQN_uoi4xSM-nsg2ciLLz7ssFnC3lZFNgC3og&usqp=CAU"style="width:50%">
      <div class="container">
        <h2>Rohan Baba</h2>
        <p class="title">Designer</p>
        <p>Designed The Tourism and booking Page</p>
        <p>rohanb@gmail.com</p>
        
      </div>
    </div>
  </div>
</div>

</body>
</html>

