.example-card{
    width: 500px;
    height: 500px;
}
.card1{
    width: 1200px;
    display: flex;
    justify-content: space-evenly;
}
.card2{
    display: flex;
    justify-content: space-evenly;
}
.example-spacer {
    flex: 1 1 auto;
  }