<mat-toolbar color="primary">
    <span class="example-spacer"></span>
      <span>Choose Your Mode Of Transport</span>
    <span class="example-spacer"></span>
</mat-toolbar>
<div class="card1">
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Aeroplane</mat-card-title>
    </mat-card-header>
    <img mat-card-image height="205px" src="assets\—Pngtree—airplane landing_3684901.png" alt="Photo of ">
    <mat-card-content>
      <p>
       
        &nbsp;
        <button mat-raised-button color="primary" routerLink="/booknow">Book Now</button>
      </p>
    </mat-card-content>
</mat-card>
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Bus</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://img.favpng.com/11/4/12/bus-india-car-hino-motors-coach-png-favpng-EbgQ89rHf8Zf7FMwgwtMUrF0a.jpg" alt="Photo of a Ertiga">
    <mat-card-content>
      <p>
      
        &nbsp;
        <button mat-raised-button color="primary" routerLink="/booknow">Book Now</button>
      </p>
    </mat-card-content>
</mat-card>
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Train</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://lh3.googleusercontent.com/proxy/hGJxTyER84aNPKbVbez8X5C0DWlCC8Te4DiNuykMaG9NAp36znGZ3JXH7405MMahE-8X41yFehdYcBiNIuXS2kBCnyLUZWkJz8jnza2w_-G75i9xXg" alt="Photo ">
    <mat-card-content>
      <p>
    
        &nbsp;
        <button mat-raised-button color="primary" routerLink="/booknow">Book Now</button>
      </p>
    </mat-card-content>
</mat-card>
</div>
<div class="card2">
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Ship</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://i.pinimg.com/originals/fc/35/72/fc357254541c2886a4a8722cbfa9631e.png" alt="Photo of a Ferrari">
    <mat-card-content>
      <p>
      
        &nbsp;
        <button mat-raised-button color="primary" routerLink="/booknow">Exclusive </button>
      </p>
    </mat-card-content>
</mat-card>
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Auto</mat-card-title>
    </mat-card-header>
    <img mat-card-image height="300px" src="https://upload.wikimedia.org/wikipedia/commons/4/49/Bajaj_auto-rickshaw_in_Sri_Lanka.jpg" alt="Photo ">
    <mat-card-content>
      <p>
     
        &nbsp;
        <button mat-raised-button color="primary" routerLink="/booknow">Book Now</button>
      </p>
    </mat-card-content>
</mat-card>
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Car</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets\swift.jpg" alt="Photo of a Swift">
    <mat-card-content>
      <p>
    
        &nbsp;
        <button mat-raised-button color="primary" routerLink="/booknow">Book Now</button>
      </p>
    </mat-card-content>
</mat-card>
</div>  
<router-outlet></router-outlet>