.bgimg2{
    
  background-color:brown;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1600px;
}
.example-spacer {
    flex: 1 1 auto;
}
.but1{
    left: 125px;
    position: fixed;
    width: 10%;
    top: 150px;
    cursor: pointer;
    font-weight: 50;
    color:rgb(0, 0, 0)
}
.but2{
    margin-left: 375px;
    position: fixed;
    width: 10%;
    top: 150px;
    cursor: pointer;
    font-weight: 1000;
    background-color: #f44336;
    
}

.img2{
    border: 1px solid black;
    box-shadow: 5px 5px black,
                4px 4px Black, 
                3px 3px black, 
                2px 2px black, 
                1px 1px black,
                5px 5px 5px black;
    border:1px solid black;
    position: relative;
    top: -370px;
    left: 600px;
}
.p{
    position: relative;
    left: 25px;
    top: 80px;  
    font-family: "Times New Roman", Times, serif;
    font: italic bold 12px/30px Georgia, serif;
    font-size: medium;
}
.p1{
    position: relative;
    top: 10px;
    left: 580px; 
    font-family: "Times New Roman", Times, serif;
    font: italic bold 12px/30px Georgia, serif;
    font-size: medium;
}
.frame{
    position: relative;
    top: 100px;
    left: -50px;
}